doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel='stylesheet', href='/public/style3.css')
      title Add Article
   body
      h1 Adding an article
      form(action="/addArticle" method="POST")
         label(for="data") Article Data:
         input(type="text", name="data")
         br
         button(type="submit") Add
         a(href="/") Cancel
