doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel='stylesheet', href='/public/style2.css')
      title welcome
   body 
   h1 welcome To the Blog page

   if username 
      h1 Good afternoon #{username}
      a(href="/logout") LOGOUT 
   else 
      a(href="/login") LOGIN
      a(href="/register") REGISTER
   ul   
      each i in articles
         li 
            h2 #{i.id} 
            p #{i.data}
            p User: #{users.find(user => user.username === i.username).username}
   